<template>
    <Bar :data="data" :options="options" />
</template>
  
<script lang="ts" setup>
import {
    BarElement, CategoryScale, Chart as ChartJS, ChartData, Legend, LinearScale, SubTitle, Title,
    Tooltip
} from 'chart.js';
import * as d3 from "d3";
import { ref } from 'vue';
import { Bar } from 'vue-chartjs';

type JSONValue =
    | string
    | number
    | boolean
    | JSONObject
    | JSONArray;

interface JSONObject {
    [x: string]: JSONValue;
}

interface JSONArray extends Array<JSONValue> { }

const props = defineProps<{
    options: JSONArray
    json: string
}>()

ChartJS.register(Title, SubTitle, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

const options = props.options
const data = ref<ChartData<'bar'>>({
    datasets: []
})

d3.json(props.json).then((truc) => {
    data.value = truc
});

</script>
  